/* The media query for mobile devices */
@media (min-width: 1px) {
  .bigLogo {
    height: 50vh;
    margin-bottom: 5vh;
  }
  .smallLogo {
    height: 10vh;
    position: fixed;
    left: 2.5vh;
    top: 2.5vh;
  }
  .logoTextContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 75vh;
    margin-top: 10vh;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .visibleSlow {
    opacity: 1;
    transition: opacity 1s 1s;
  }
  .notVisibleSlow {
    opacity: 0;
    transition: opacity 1s 1s;
  }
  .visibleQuick {
    opacity: 1;
    transition: opacity 0.15s 0.15s;
  }
  .notVisibleQuick {
    opacity: 0;
    transition: opacity 0.15s 0.15s;
  }
  .hiScreenContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  .typistContainer {
    margin-top: 20vh;
    padding-left: 4vw;
    padding-right: 4vw;
  }
  .letsGoButton {
    margin-top: 5vh;
  }
}

/* The media query for big devices like laptops and desktops */
@media (min-width: 769px) {
}
