/* The media query for mobile devices */
@media (min-width: 1px) {
  .bigLogo {
    height: 50vh;
    margin-bottom: 5vh;
  }
  .smallLogo {
    height: 7.5vh;
    position: fixed;
    left: 2.5vh;
    top: 2.5vh;
  }
  .logoTextContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 75vh;
    margin-top: 10vh;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .visibleSlow {
    opacity: 1;
    transition: opacity 1s 1s;
  }
  .notVisibleSlow {
    opacity: 0;
    transition: opacity 1s 1s;
  }
  .visibleQuick {
    opacity: 1;
    transition: opacity 0.15s 0.15s;
  }
  .notVisibleQuick {
    opacity: 0;
    transition: opacity 0.15s 0.15s;
  }
  .hiScreenContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  .typistContainer {
    margin-top: 20vh;
    padding-left: 4vw;
    padding-right: 4vw;
  }
  .letsGoButton {
    margin-top: 5vh;
  }
  .createdWebsiteMessage {
    margin-top: 4vh;
    text-align: center;
    width: 75vw;
  }
  .stepContainer {
    display: flex;
    flex-direction: row;
    margin-top: 12.5vh;
    margin-bottom: 6vh;
  }
  .step {
    border-radius: 5px;
    margin-right: 0.5vw;
    height: 1vh;
    cursor: pointer;
    transition: 0.25s;
  }
  .step:hover {
    transform: scale(1.25);
  }
  .selected {
    width: 7.5vw;
    background-color: #0e8afc;
  }
  .unselected {
    width: 3.75vw;
    background-color: #b2b2b2;
  }
  .bardark {
    background-color: #64FFDA;
    transition: 0.5s;
  }
  .barlight {
    background-color: #0e8afc;
    transition: 0.5s;
  }
  .allQuestionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }
  .clickable {
    cursor: pointer;
  }
  .dark {
    background-color: #0A1B2E;
    transition: 0.5s;
  }
  .light {
    background-color: #ffffff;
    transition: 0.5s;
  }
}

/* The media query for big devices like laptops and desktops */
@media (min-width: 769px) {
  .smallLogo {
    height: 10vh;
    position: fixed;
    left: 2.5vh;
    top: 2.5vh;
  }
  .selected {
    width: 5vw;
    background-color: #0e8afc;
  }
  .unselected {
    width: 2.5vw;
    background-color: #b2b2b2;
  }
  .bardark {
    background-color: #64FFDA;
    transition: 0.5s;
  }
  .barlight {
    background-color: #0e8afc;
    transition: 0.5s;
  }
}
